* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
.main-container {
  margin-bottom: 0px;
}
/* Nav */
#nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#app-bar-left {
  display: flex;
  align-items: center;
}
#app-bar-right {
  color: white;
  align-self: center;
}
.breadcrumbs {
  font-size: 12px;
  color: white;
  margin-left: 10px;
  text-transform: uppercase;
}
.coppd-title {
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.coppd-logo-img {
  height: 32px;
  margin-top: 6px;
  padding: 0;
}
.inventory-container {
  margin: 20px;
}
.inventory {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card {
  width: 250px;
  margin: 10px 5px;
}
.bold {
  font-weight: bold;
}

.card-text {
  display: flex;
  justify-content: space-between;
}
.card-text-div {
  margin: 0;
  width: 43%;
  text-align: center;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.card-text-size-text {
  font-size: 48px;
  padding: 0;
  margin: 0;
}
.card-text-color-text {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
}
.card-actions {
  display: flex;
  justify-content: center;
  padding: 0;
}
.vertical-hr {
  margin-top: 5px;
  height: 70px;
  width: 1px;
  background-color: #E0E0E0;
}

/*  Inventory/Add */
.inventory-add, .inventory-edit {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1200;
}
.form-row {
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inventory-add-text-field {
  margin: 0px 20px;
}
.form-row-five {
  margin-bottom: 35px;
}
.form-row-six-add {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form-row-six-edit {
  margin-top: 0px;
  width: 225px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.inventory-add-button-div, .inventory-update-button-div, .inventory-delete-button-div {
  width: 100px;
}
.inventory-add-info-tab, .inventory-edit-info-tab {
  margin-top: 20px;
}
.inventory-add-image-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px 20px;
  text-align: center;
}
.inventory-add-current-image-div {
  position: relative;
}
.inventory-add-current-image {
  max-width: 376px;
  max-height: 300px;
}
.no-product-entered-h2 {
  margin-top: 30px;
  margin-bottom: 35px;
}
.icon-check {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  -webkit-mask-image:-webkt-linear-gradient(top, rgba(56,142,60), rgba(56,142,60));
}
/* Homepage */
.home-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 1200;
  position: relative;
}
.home-row-one {
  height: 652px;
  background: #00bfa5;
  width: 100%;
  display: flex;
  justify-content: flex-start;;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-heading {
  margin-top: 150px;
  color: white;
  font-size: 72px;
}
.main-subheading {
  color: white;
  font-weight: 300;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .main-heading {
    font-size: 48px;
  }
  .main-subheading {
    font-size: 20px;
  }
}
@media only screen and (max-width: 475px) {
  .main-heading {
    font-size: 32px;
  }
  .main-subheading {
    font-size: 16px;
  }
}
